name: Validate
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.6'
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '12.x'
    - name: Install dependencies
      run: |
        pip install pipenv
        cd scripts && pipenv install
    - name: Install transitland-lib
      run: |
        wget -O scripts/transitland https://github.com/interline-io/transitland-lib/releases/download/v0.7.1/transitland-linux
        chmod +x scripts/transitland
    - name: Validate feeds
      run: cd scripts && python validate-feeds.py
    - name: Validate operators
      run: cd scripts && ./validate-operators.sh