name: Validate
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.10'
    - uses: actions/setup-node@v2-beta
      with:
        node-version: '12.x'
    - name: Install dependencies
      run: |
        pip install pipenv
        cd scripts && pipenv install
    - name: Install transitland-lib
      run: |
        wget https://github.com/interline-io/transitland-lib/releases/download/v0.11.1/transitland-linux -O transitland
        chmod a+rx transitland
        sudo mv transitland /usr/local/bin
    - name: Validate against DMFR schema
      run: |
        wget https://dmfr.transit.land/json-schema/dmfr.schema-v0.4.1.json -O dmfr.schema.json
        npx ajv-cli validate -s dmfr.schema.json -d "feeds/*.json"
    - name: Lint against the opinionated DMFR format
      run: |
        transitland dmfr lint feeds/*.dmfr.json
    - name: Validate against transitland-lib
      run: cd scripts && python validate-feeds.py
